.carousel {
  &__container {
    position: relative;
    width: 100%;
    border: 1px solid gray;
  }

  &__image {
    cursor: pointer;
    display: block;
    width: 100%;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    color: white;

    &--left {
      left: 10px;
    }

    &--right {
      right: 10px;
    }
  }

  &__bullets {
    position: absolute;
    left: 50%;
    bottom: 15px;
  }

  &__bullet {
    width: 8px;
    height: 8px;
    margin-right: 8px;
    background-color: lightgray;
    border-radius: 50%;
    
    &--active {
      background-color: white;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
