<div class="main">
  <h1>Day Trade Helper</h1>

  <div class="opcoes">
    <mat-vertical-stepper linear>
      <mat-step [stepControl]="step1">
        <form [formGroup]="step1">
          <ng-template matStepLabel
            >Preencha a estratégia e seu patrimônio</ng-template
          >

          <div class="opcoes__estrategia">
            <mat-form-field>
              <mat-label>Estratégia</mat-label>

              <mat-select formControlName="estrategia">
                <mat-option
                  *ngFor="let estrategia of estrategias"
                  [value]="estrategia"
                  >{{ estrategia }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Patrimônio</mat-label>

              <span matPrefix>R$ &nbsp;</span>

              <input
                matInput
                type="number"
                placeholder="0"
                formControlName="patrimonio"
              />

              <mat-error
                *ngIf="patrimonio?.dirty && patrimonio?.hasError('min')"
              >
                O patrimônio deve ser no mínimo <strong>R$ 2000</strong>.
              </mat-error>

              <mat-error *ngIf="patrimonio?.hasError('required')">
                O campo patrimônio é <strong>obrigatório</strong>.
              </mat-error>
            </mat-form-field>
          </div>

          <button
            mat-flat-button
            matStepperNext
            color="primary"
            [disabled]="step1.invalid"
          >
            Avançar
          </button>
        </form>
      </mat-step>

      <mat-step [stepControl]="step2">
        <form [formGroup]="step2">
          <ng-template matStepLabel
            >Preencha os dados do candle de referência</ng-template
          >

          <div class="opcoes__candle">
            <mat-form-field>
              <mat-label>Mínima</mat-label>

              <input
                matInput
                type="number"
                placeholder="0"
                formControlName="minima"
                (change)="validarMaxima()"
              />

              <mat-error *ngIf="minima?.hasError('required')">
                O campo mínima é <strong>obrigatório</strong>.
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Máxima</mat-label>

              <input
                matInput
                type="number"
                placeholder="0"
                formControlName="maxima"
              />

              <mat-error *ngIf="!maxima?.hasError('required')">
                <span *ngIf="maxima?.hasError('candleMenor')">
                  O candle deve ser maior que <strong>200</strong>.
                </span>

                <span *ngIf="maxima?.hasError('candleMaior')">
                  O candle deve ser menor que <strong>400</strong>.
                </span>

                <span *ngIf="maxima?.hasError('maximaMenorQueMinima')">
                  A máxima deve ser <strong>maior</strong> que a mínima.
                </span>
              </mat-error>

              <mat-error *ngIf="maxima?.hasError('required')">
                O campo máxima é <strong>obrigatório</strong>.
              </mat-error>
            </mat-form-field>
          </div>

          <button mat-flat-button matStepperPrevious color="primary">
            Voltar
          </button>

          <button
            mat-flat-button
            matStepperNext
            color="primary"
            [disabled]="step2.invalid"
            (click)="calcularEntrada()"
          >
            Avançar
          </button>
        </form>
      </mat-step>

      <mat-step [stepControl]="step3">
        <form [formGroup]="step3">
          <ng-template matStepLabel>Selecione a entrada</ng-template>

          <div class="opcoes__entrada">
            <mat-form-field>
              <mat-label>Contratos</mat-label>
              <input matInput type="number" formControlName="contratos" />
            </mat-form-field>

            <mat-radio-group
              class="opcoes__tipo-entrada"
              color="primary"
              formControlName="operacao"
            >
              <mat-radio-button value="compra"
                >Compra: {{ entrada.compra | number }}</mat-radio-button
              >

              <mat-radio-button value="venda"
                >Venda: {{ entrada.venda | number }}</mat-radio-button
              >
            </mat-radio-group>
          </div>

          <button mat-flat-button matStepperPrevious color="primary">
            Voltar
          </button>

          <button mat-flat-button matStepperNext color="primary">
            Avançar
          </button>
        </form>
      </mat-step>

      <!-- <mat-step>
          <ng-template matStepLabel
            >Selecione o fechamento da entrada</ng-template
          >

          <div class="opcoes__entrada">
            <mat-form-field>
              <mat-label>Contratos</mat-label>
              <input
                matInput
                type="number"
                [(ngModel)]="entrada.contratos"
                readonly
              />
            </mat-form-field>

            <mat-radio-group
              class="opcoes__tipo-entrada"
              color="primary"
              [(ngModel)]="entrada.operacao"
            >
              <mat-radio-button value="compra"
                >Venda (Objetivo): 120.400</mat-radio-button
              >

              <mat-radio-button value="venda"
                >Venda (1ª Reversão): 120.000</mat-radio-button
              >
            </mat-radio-group>
          </div>

          <button mat-flat-button matStepperNext color="primary">
            Avançar
          </button>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel
            >Selecione o fechamento da 1ª reversão</ng-template
          >

          <div class="opcoes__entrada">
            <mat-form-field>
              <mat-label>Contratos</mat-label>
              <input
                matInput
                type="number"
                [(ngModel)]="entrada.contratos"
                readonly
              />
            </mat-form-field>

            <mat-radio-group
              class="opcoes__tipo-entrada"
              color="primary"
              [(ngModel)]="entrada.operacao"
            >
              <mat-radio-button value="compra"
                >Compra (Objetivo): 120.400</mat-radio-button
              >

              <mat-radio-button value="venda"
                >Compra (2ª Reversão): 120.000</mat-radio-button
              >
            </mat-radio-group>
          </div>

          <button mat-flat-button matStepperNext color="primary">
            Avançar
          </button>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel
            >Selecione o fechamento da 2ª reversão</ng-template
          >

          <div class="opcoes__entrada">
            <mat-form-field>
              <mat-label>Contratos</mat-label>
              <input
                matInput
                type="number"
                [(ngModel)]="entrada.contratos"
                readonly
              />
            </mat-form-field>

            <mat-radio-group
              class="opcoes__tipo-entrada"
              color="primary"
              [(ngModel)]="entrada.operacao"
            >
              <mat-radio-button value="compra"
                >Compra (Objetivo): 120.400</mat-radio-button
              >

              <mat-radio-button value="venda"
                >Compra (Stop): 120.000</mat-radio-button
              >
            </mat-radio-group>
          </div>

          <button mat-flat-button matStepperNext color="primary">
            Avançar
          </button>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Resumo da operação</ng-template>

          <p>Total de operações: 10</p>

          <p>Total de contratos negociados: 10</p>

          <p>Lucro da operação: R$ 1.000,00</p>

          <button mat-flat-button color="primary" (click)="novaOperacao()">
            Nova operação
          </button>
        </mat-step> -->
    </mat-vertical-stepper>
  </div>
</div>
