.main {
  margin: 0 auto;
  padding: 50px 20px;
  width: 1200px;
}

.opcoes {
  display: inline-block;

  &__estrategia {
    display: flex;
    gap: 10px;
  }

  &__candle,
  &__entrada {
    display: flex;
    gap: 10px;
  }
  
  &__tipo-entrada {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 51.313px;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

button[matStepperPrevious] {
  margin-right: 16px;
}

mat-form-field,
mat-radio-group {
  margin: 16px 0;
}

::ng-deep .mat-vertical-stepper-header{
  pointer-events: none !important;
}
